In [1]:
import pandas as pd

## Process exel 1

In [7]:
raw_exel = pd.read_excel("../dataset/aax9249_table_s1.xlsx", sheet_name=[0,1])
df_train = raw_exel[0]
df_test = raw_exel[1]

In [8]:
df_test

,Target context sequence (4+20+3+3),Number of used (filtered ) barcodes,"Total read count (average, Day 0)","Total read count (average, Day 2.9)","Background subtracted indel frequencies\n(average, %)"
0,AAAACTGTGAGTGTGGGACCTGCTGGGGGC,4,3168.6,11259.6,44.125755
1,AAACACAACCAATCCGAGGCCTTCTGGGTC,4,1864.8,7944.8,12.163189
2,AAACTGTGAGTGTGGGACCTGCTGGGGGCT,5,3292.4,9866.4,68.901263
3,AAACTTGAGAGCTTTCATAAAGCTTGGCAA,4,1675.6,7034.4,13.135690
4,AAAGAAGCGGACTTTAAAGTTCGAGGGAGA,4,865.6,2800.6,48.355156
...,...,...,...,...,...
537,TTTGCAGCGCGTTGACTTATTCATGGGTCA,4,2043.0,7086.6,36.249050
538,TTTGCTAGGAATATTGAAGGGGGCAGGGGA,3,1873.0,6139.0,38.622947
539,TTTGTGGTGGTTGCTATGGTAATCCGGCAC,5,1910.4,7591.6,12.246218
540,TTTTTACAATTCTGTGAGTTAGAGTGGGCA,5,1536.6,6750.4,0.385915
541,TTTTTGAGGTGCACTAATAGAGGGTGGAGT,4,1270.2,3474.6,41.100730

In [9]:
# write as text files
write_train = open("../dataset/train_txt", "w")
write_test = open("../dataset/test_txt", "w")

In [10]:
# 
len_train = len(df_train)
len_test = len(df_test)
#
for i in range(len_train):
    write_train.write("%s %s\n"%(df_train.loc[i][1], df_train.loc[i][8]))
write_train.close()
#
for j in range(len_test):
    write_test.write("%s %s\n"%(df_test.loc[j][0], df_test.loc[j][4]))
write_test.close()

In [21]:
df_test.loc[1]

Target context sequence (4+20+3+3)                       AAACACAACCAATCCGAGGCCTTCTGGGTC
Number of used (filtered ) barcodes                                                   4
Total read count (average, Day 0)                                                1864.8
Total read count (average, Day 2.9)                                              7944.8
Background subtracted indel frequencies\n(average, %)                         12.163189
Name: 1, dtype: object

## Process exel 3

In [2]:
exel3 = pd.read_excel("../dataset/aax9249_table_s3.xlsx", sheet_name=[0])[0]
exel3

,30 bp target sequence (4 bp + 20 bp Protospacer + PAM + 3 bp),Averge indel frequency (%),"Chromatin accessibility (1= DNase I hypersensitive sites, 0 = Dnase I non-sensitive sites)"
0,GCGGTGGCTTCAGAGTTGCCGAAGTGGGCG,74.883051,1
1,GGGGGAAAGAGGAAATGTGGACGAAGGCAG,72.941135,1
2,TGAGTTATAGACTGGGGATATAATTGGGAT,66.382510,0
3,CTGTTCCCTTCGCCTTCCACACGATGGCAT,80.818449,1
4,TATTCTTTCTATGCTTTGTCACCCAGGCTG,76.474647,0
...,...,...,...
119,AGATGACCCATGAGACCCTGTACTTGGCAG,79.638115,0
120,CCACAGGCTCAGCTGGCTTCAATATGGTAA,78.149900,1
121,TCACTTGGCAAGGAAGATGGAAGTGGGGAC,69.188097,0
122,CTTACACTTCTCCATCTCTTGCCATGGTGC,78.967706,0
123,TCTATGACATCAATTATTATACATCGGAGC,49.315981,0

In [3]:
table3 = open("../dataset/table3", "w")
for i in range(len(exel3)):
    table3.write("%s %s\n"%(exel3.loc[i][0], exel3.loc[i][1]))
table3.close()